---

import { getEntry } from "astro:content";
import { ViewTransitions } from "astro:transitions";
import "../../styles/style.scss";

const metaInfo = await getEntry( 'metaheadinfo', 'metainfo');

---
<!-- Global Metadata -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<ViewTransitions />
<link rel="apple-touch-icon" sizes="57x57" href="/tribute-to-Ralph-Modejski/apple-icon-57x57.png" />
<link rel="apple-touch-icon" sizes="60x60" href="/tribute-to-Ralph-Modejski/apple-icon-60x60.png" />
<link rel="apple-touch-icon" sizes="72x72" href="/tribute-to-Ralph-Modejski/apple-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="76x76" href="/tribute-to-Ralph-Modejski/apple-icon-76x76.png" />
<link rel="apple-touch-icon" sizes="114x114" href="/tribute-to-Ralph-Modejski/apple-icon-114x114.png" />
<link rel="apple-touch-icon" sizes="120x120" href="/tribute-to-Ralph-Modejski/apple-icon-120x120.png" />
<link rel="apple-touch-icon" sizes="144x144" href="/tribute-to-Ralph-Modejski/apple-icon-144x144.png" />
<link rel="apple-touch-icon" sizes="152x152" href="/tribute-to-Ralph-Modejski/apple-icon-152x152.png" />
<link rel="apple-touch-icon" sizes="180x180" href="/tribute-to-Ralph-Modejski/apple-icon-180x180.png" />
<link
	rel="icon"
	type="image/png"
	sizes="192x192"
	href="/android-icon-192x192.png"
/>
<link rel="icon" type="image/png" sizes="32x32" href="/tribute-to-Ralph-Modejski/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="96x96" href="/tribute-to-Ralph-Modejski/favicon-96x96.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/tribute-to-Ralph-Modejski/favicon-16x16.png" />
<link rel="icon" type="image/svg+xml" href="/tribute-to-Ralph-Modejski/favicon.svg" />
<link rel="manifest" href="/tribute-to-Ralph-Modejski/manifest.json" />
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="msapplication-TileImage" content="/tribute-to-Ralph-Modejski/ms-icon-144x144.png" />
<meta name="theme-color" content="#ffffff" />
<meta name="generator" content={Astro.generator} />
<!-- Primary Meta Tags -->
<meta name="description" content={metaInfo.data.description} />
<title>{metaInfo.data.title}</title>
<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={metaInfo.data.canonicalURL} />
<meta property="og:title" content={metaInfo.data.title} />
<meta property="og:description" content={metaInfo.data.description} />
<meta property="og:image" content={metaInfo.data.imageUrl} />
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={metaInfo.data.canonicalURL} />
<meta property="twitter:title" content={metaInfo.data.title} />
<meta property="twitter:description" content={metaInfo.data.description} />
<meta property="twitter:image" content={metaInfo.data.imageUrl} />

<ViewTransitions />